absl-py==2.3.1
accelerate==1.11.0
aiocache==0.12.3
aiofiles==25.1.0
aiohappyeyeballs==2.6.1
aiohttp==3.13.2
aiosignal==1.4.0
aiosqlite==0.21.0
alembic==1.13.0
altgraph==0.17.5
annotated-doc==0.0.3
annotated-types==0.7.0
anthropic==0.6.0
antlr4-python3-runtime==4.9.3
anyio==3.7.1
APScheduler==3.10.4
argon2-cffi==23.1.0
argon2-cffi-bindings==25.1.0
asgiref==3.10.0
asttokens==3.0.0
async-timeout==5.0.1
attrs==25.4.0
audioread==3.1.0
Authlib==1.6.5
autocommand==2.2.2
av==16.0.1
azure-core==1.36.0
azure-identity==1.25.1
azure-storage-blob==12.27.1
backoff==2.2.1
bcrypt==4.1.2
beautifulsoup4==4.14.2
bidict==0.23.1
black==24.1.1
boto3==1.40.72
botocore==1.40.72
braceexpand==0.1.7
brotli==1.2.0
build==1.3.0
cachetools==6.2.1
certifi==2025.10.5
cffi==2.0.0
charset-normalizer==3.4.4
chromadb==1.3.4
click==8.3.0
cloudpickle==3.1.1
colorama==0.4.6
coloredlogs==15.0.1
colorlog==6.10.1
contourpy==1.3.3
cryptography==46.0.3
ctc_segmentation==1.7.4
ctranslate2==4.6.0
cycler==0.12.1
Cython==3.1.6
cytoolz==1.1.0
dataclasses-json==0.6.7
datasets==4.3.0
ddgs==9.9.0
decorator==5.2.1
Deprecated==1.3.1
dill==0.4.0
diskcache==5.6.3
distro==1.9.0
dnspython==2.8.0
docopt==0.6.2
duckduckgo_search==8.1.1
durationpy==0.10
ecdsa==0.19.1
editdistance==0.8.1
einops==0.8.1
email-validator==2.3.0
Events==0.5
executing==2.2.1
fastapi==0.110.0
faster-whisper==1.2.1
ffmpeg-python==0.2.0
fiddle==0.3.0
filelock==3.20.0
flake8==7.0.0
flatbuffers==25.9.23
fonttools==4.60.1
fpdf==1.7.2
frozenlist==1.8.0
fsspec==2025.10.0
ftfy==6.3.1
future==1.0.0
gitdb==4.0.12
GitPython==3.1.45
google-ai-generativelanguage==0.4.0
google-api-core==2.28.1
google-auth==2.43.0
google-cloud-core==2.5.0
google-cloud-storage==3.5.0
google-crc32c==1.7.1
google-generativeai==0.4.0
google-resumable-media==2.7.2
googleapis-common-protos==1.72.0
graphviz==0.21
greenlet==3.2.4
grpcio==1.76.0
grpcio-status==1.62.3
h11==0.16.0
h2==4.3.0
hf-xet==1.2.0
hpack==4.1.0
httpcore==1.0.9
httptools==0.7.1
httpx==0.28.1
httpx-sse==0.4.3
huggingface-hub==0.19.4
humanfriendly==10.0
hydra-core==1.3.2
hyperframe==6.1.0
idna==3.11
importlib_metadata==8.7.0
importlib_resources==6.5.2
indic_numtowords==1.1.0
inflect==7.5.0
iniconfig==2.3.0
intervaltree==3.1.0
ipython==9.6.0
ipython_pygments_lexers==1.1.1
isodate==0.7.2
isort==5.13.2
itsdangerous==2.2.0
jaraco.classes==3.4.0
jaraco.context==6.0.1
jaraco.functools==4.3.0
jaraco.text==4.0.0
jedi==0.19.2
Jinja2==3.1.6
jiter==0.11.1
jiwer==3.1.0
jmespath==1.0.1
joblib==1.5.2
jsonpatch==1.33
jsonpointer==3.0.0
jsonschema==4.25.1
jsonschema-specifications==2025.9.1
kaldi-python-io==1.2.2
kaldialign==0.9.1
kiwisolver==1.4.9
kubernetes==34.1.0
langchain==0.1.4
langchain-classic==1.0.0
langchain-community==0.0.15
langchain-core==0.1.23
langchain-experimental==0.4.0
langchain-text-splitters==0.0.2
langgraph==1.0.3
langgraph-checkpoint==3.0.1
langgraph-prebuilt==1.0.2
langgraph-sdk==0.2.9
langsmith==0.0.87
lazy_loader==0.4
ldap3==2.9.1
lhotse==1.31.1
libcst==1.8.5
librosa==0.11.0
lightning==2.4.0
lightning-utilities==0.15.2
lilcom==1.8.1
limits==5.6.0
llvmlite==0.45.1
loguru==0.7.2
lxml==6.0.2
Mako==1.3.10
Markdown==3.10
markdown-it-py==4.0.0
MarkupSafe==3.0.3
marshmallow==3.26.1
matplotlib==3.10.7
matplotlib-inline==0.2.1
mccabe==0.7.0
mcp==1.21.0
mdurl==0.1.2
mediapy==1.1.6
ml_dtypes==0.5.3
mmh3==5.2.0
more-itertools==10.8.0
mplfinance==0.12.10b0
mpmath==1.3.0
msal==1.34.0
msal-extensions==1.3.1
msgpack==1.1.2
mssql_mcp_server==0.1.2
multidict==6.7.0
multiprocess==0.70.16
mypy_extensions==1.1.0
nemo-toolkit @ git+https://github.com/NVIDIA/NeMo.git@88d2ceb685a1831119245aaf632101f2deede565
networkx==3.5
nltk==3.9.2
num2words==0.5.14
numba==0.62.1
numexpr==2.13.1
numpy==1.26.4
nv-one-logger-core==2.3.1
nv-one-logger-pytorch-lightning-integration==2.3.1
nv-one-logger-training-telemetry==2.3.1
oauthlib==3.3.1
omegaconf==2.3.0
onnx==1.19.1
onnxruntime==1.23.2
openai==1.3.0
openai-whisper==20240930
opensearch-protobufs==0.19.0
opensearch-py==3.1.0
opentelemetry-api==1.38.0
opentelemetry-exporter-otlp-proto-common==1.38.0
opentelemetry-exporter-otlp-proto-grpc==1.38.0
opentelemetry-exporter-otlp-proto-http==1.38.0
opentelemetry-proto==1.38.0
opentelemetry-sdk==1.38.0
opentelemetry-semantic-conventions==0.59b0
openvino==2025.3.0
openvino-genai==2025.3.0.0
openvino-telemetry==2025.2.0
openvino-tokenizers==2025.3.0.0
optimum==2.0.0
optimum-intel==1.26.0
optimum-onnx==0.0.3
optuna==4.5.0
orjson==3.11.4
ormsgpack==1.12.0
overrides==7.7.0
packaging==23.2
pandas==2.3.3
parso==0.8.5
passlib==1.7.4
pathspec==0.12.1
peewee==3.17.0
peewee-migrate==1.14.2
pefile==2024.8.26
peft==0.17.1
pillow==11.3.0
platformdirs==4.5.0
pluggy==1.6.0
pooch==1.8.2
posthog==5.4.0
primp==0.15.0
prometheus_client==0.21.0
prompt_toolkit==3.0.52
propcache==0.4.1
proto-plus==1.26.1
protobuf==6.33.1
psutil==7.1.3
psycopg2-binary==2.9.9
pure_eval==0.2.3
pyannote.core==5.0.0
pyannote.database==5.1.3
pyannote.metrics==3.2.1
pyarrow==22.0.0
pyasn1==0.6.1
pyasn1_modules==0.4.2
PyAudio==0.2.14
pybase64==1.4.2
pycodestyle==2.11.1
pycparser==2.23
pycrdt==0.12.43
pydantic==2.12.4
pydantic-settings==2.12.0
pydantic_core==2.41.5
pydub==0.25.1
pyflakes==3.2.0
Pygments==2.19.2
pyinstaller==6.17.0
pyinstaller-hooks-contrib==2025.10
PyJWT==2.10.1
pyloudnorm==0.1.1
pyodbc==5.3.0
pyparsing==3.2.5
PyPika==0.48.9
pyproject_hooks==1.2.0
PyQt5==5.15.11
PyQt5-Qt5==5.15.2
PyQt5_sip==12.17.1
PyQtWebEngine==5.15.7
PyQtWebEngine-Qt5==5.15.2
pyreadline3==3.5.4
pytest==8.1.0
python-dateutil==2.9.0.post0
python-dotenv==1.2.1
python-engineio==4.12.3
python-jose==3.5.0
python-markdown-math==0.9
python-multipart==0.0.20
python-socketio==5.11.0
pytokens==0.3.0
pytorch-lightning==2.5.5
pytz==2025.2
pywin32==311
pywin32-ctypes==0.2.3
PyYAML==6.0.3
RapidFuzz==3.14.3
redis==5.0.1
referencing==0.37.0
regex==2025.10.23
requests==2.32.5
requests-oauthlib==2.0.0
requests-toolbelt==1.0.0
resampy==0.4.3
RestrictedPython==8.1
rich==14.2.0
rpds-py==0.28.0
rsa==4.9.1
ruamel.yaml==0.18.16
ruamel.yaml.clib==0.2.14
s3transfer==0.14.0
sacremoses==0.1.1
safetensors==0.6.2
scikit-learn==1.7.2
scipy==1.16.3
sentence-transformers==2.2.2
sentencepiece==0.2.1
sentry-sdk==2.10.0
setuptools==80.9.0
shellingham==1.5.4
simple-websocket==1.1.0
six==1.17.0
slowapi==0.1.9
smmap==5.0.2
sniffio==1.3.1
socksio==1.0.0
sortedcontainers==2.4.0
soundfile==0.13.1
soupsieve==2.8
sox==1.5.0
soxr==1.0.0
SQLAlchemy==2.0.25
sse-starlette==3.0.3
stack-data==0.6.3
starlette==0.36.3
starlette-compress==1.6.1
starsessions==1.3.0
StrEnum==0.4.15
sympy==1.14.0
tabulate==0.9.0
tenacity==8.5.0
tensorboard==2.20.0
tensorboard-data-server==0.7.2
text-unidecode==1.3
threadpoolctl==3.6.0
tiktoken==0.5.2
tokenizers==0.15.2
toml==0.10.2
toolz==1.1.0
torch==2.9.0
torchaudio==2.9.0
torchmetrics==1.8.2
torchvision==0.24.0+cu128
tqdm==4.66.1
traitlets==5.14.3
transformers==4.36.0
typeguard==4.4.4
typer==0.20.0
typer-slim==0.20.0
typing-inspect==0.9.0
typing-inspection==0.4.2
typing_extensions==4.15.0
tzdata==2025.2
tzlocal==5.3.1
urllib3==2.3.0
uvicorn==0.38.0
validators==0.35.0
wandb==0.22.3
watchfiles==1.1.1
wcwidth==0.2.14
webdataset==1.0.2
websocket-client==1.9.0
websockets==15.0.1
Werkzeug==3.1.3
wget==3.2
whisper==1.1.10
whisper-openai==1.0.0
whisper_live @ git+https://github.com/collabora/WhisperLive.git@3b17bda5f9c5258a1f61ae1030e1d202896110a6
whisper_normalizer==0.1.12
whisperlivekit==0.2.13
win32_setctime==1.2.0
wrapt==2.0.0
wsproto==1.3.1
xxhash==3.6.0
yarl==1.22.0
zipp==3.23.0
zstandard==0.25.0
